body
{
    background-color: lightblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
   
table
{
    margin: auto;
    background: white;
    min-width: 50%;
    border-radius: 10px;
}


a:link, a:visited
{    
    color:darkslateblue;
}

a:hover, a:active
{    
    color:#8677B2;
}


/* =========== */
/*   classes   */
/* =========== */
.navCol
{
    text-align: center;
    width:25%;
}